

html {
    display: grid;
    background-image: url(images/NewYear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    color: #EAE7DC;
}


.wrapper {
    margin: 0 auto;
    display: grid;
    justify-content: start;
    align-content: center;
}

.timer {
    display: grid;
    justify-content: end;
    align-content: start;
    margin: 25px 0px 70px 150px;
}

.timer-header {
    font-size: 55px;

}

.timer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blockCheck {
    display: grid;
    justify-content: center;
    align-content: center;
    color:#EAE7DC;
    
}

.fonts-count{
    font-size: 50px;
    margin: 0 auto;
    
}

.fonts-text{
    font-size: 35px;
}


/* //============media================== */
@media (max-width: 1199.98px) { 

   
}

@media (max-width: 991.98px) {

    .timer {
        justify-content: center;
    }
    
    .timer-header {
        font-size: 50px;
    }
}

@media (max-width: 767.98px) { 

    .timer {
        justify-content: center;
        margin: 40px 0px 70px 50px;
    }
    
    .timer-header {
        font-size: 55px;
    }

    .fonts-count{
        font-size: 40px;
        margin: 0 auto;
        
    }
    
    .fonts-text{
        font-size: 35px;
    }
    
}

@media (max-width: 575.98px) { 
    

    .timer {
        justify-content: center;
        margin: 40px 0px 70px 50px;
    }
    
    .timer-header {
        font-size: 40px;
    }

    .fonts-count{
        font-size: 35px;
        margin: 0 auto;
    }
    
    .fonts-text{
        font-size: 30px;
    }
    
}    

   

@media (max-width: 375.98px) {
   

    .timer {
        justify-content: center;
        margin: 40px 0px 0px 40px;
    }
    
    .timer-header {
        font-size: 25px;
    }

    .fonts-count{
        font-size: 25px;
        margin: 0 auto;
        
    }
    
    .fonts-text{
        font-size: 20px;
    }
    
}
    
